@import "tailwindcss";

:root {
  --color-white: #ffffff;
  --color-azul-01: #324688;
  --color-azul-02: #009ae5;
  --color-azul-03: #00aaff;
  --color-azul-04: #2aaae6;
  --color-azul-05: #0071bb;
  --color-azul-06: #000444;
  --color-azul-07: #1d357f;
  --color-azul-08: #000000;
  --color-separate: #cccccc;
  --color-input-out: #ececec;
  --color-cinza: #d0d7df;
  --box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

.bg-cinza {
  background-color: var(--color-cinza);
  font-weight: bold;
}

.bg-azul-1{
  background-color: var(--color-azul-01);
}

.bg-azul-2{
  background-color: var(--color-azul-02);
}

.bg-azul-3{
  background-color: var(--color-azul-03);
}

.bg-azul-4{
  background-color: var(--color-azul-04);
}

.bg-azul-5{
  background-color: var(--color-azul-05);
}

.bg-azul-6{
  background-color: var(--color-azul-06);
}

.bg-azul-7{
  background-color: var(--color-azul-07);
}

.text-azul-3{
   color: var(--color-azul-03);
}

header svg{
  color: var(--color-azul-06);
}

.inner-header{
  max-width: 960px;
  margin: 0 auto;
}